.question{
    font-size: 24px;
    margin-bottom: 120px;
    background-color: #e4e6e4;
    min-width: 500px;
    border-radius: 10%;
    min-height: 300px;
}   
.name{
margin: 200xpx;
transform: scale(1.2);
}
.reg_head{
    margin: 100px;
}
.questions{
    position: absolute;
    left: 33%;
}
.checkboxes{
    transform: scale(0.8);
}
.reg_button{
    margin-bottom: 100px;
}
.reg_button:hover{
    background-color: #d2d2d2;
}
button {
    border-radius: 20px;
    font-size: 1rem;
    padding: 0 1.3rem;
    margin-top: 20px;
    margin-left: 30px;
    transition: background-color 0.5s;
  }
 