main {
  padding: 3rem 8rem;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 500;
}

.header {
  text-align: center;
}

#clubs {
  font-size: 0.6em;
  font-weight: 300;
}

.register {
  text-align: center;
  padding: 0 2em;
  background-color: #b9e2c0;
  font-weight: 500;
  transition: background-color 0.3s;
}
.register:hover {
  background-color: #60d273;
}

.subheader {
  font-size: larger;
  font-weight: 450;
  margin-bottom: 2em;
}

.subheader--1,
.subheader--2,
.subheader--3 {
  text-decoration: underline;
  text-decoration-color: #60d273;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.clubs-container {
  margin-top: 5em;
  text-align: left;
}

.clubs-container h3 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.club {
  background-color: #b9e2c0;
}
.club:hover {
  background-color: #60d273;
}
.clubs-container h5 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0;
  color: #727272;
}

.rectangle {
  border-radius: 5%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  width: 800px;
  height: 600px;
  border: 1px solid gray;
  background-color: #e4e6e4;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link_contacts {
  color: rgb(76, 73, 93);
}

.rectangle.show {
  transform: scale(1);
}

.ClubPhoto {
  transform: scale(0.4);
  position: absolute;
  border: 1px solid gray;
  bottom: 8%;
  right: 0%;
  border-radius: 5%;
}
.clubName {
  font-size: 1.6em;
  font-weight: 600;
  margin: 30px;
}
.gamedev {
  top: -10%;
}
#courses {
  transform: scale(0.27);
  left: -35%;
  top: -45%;
}
#robot {
  transform: scale(0.27);
  left: -55%;
  top: -42%;
}
#ml {
  transform: scale(0.3);
  left: -47%;
  top: -35%;
}
.clubInfo {
  margin-top: 320px;
  margin-left: 40px;
  margin-right: 40px;
}
.club-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7em;
  justify-content: center;
}
.club-group:hover {
  cursor: pointer;
}

.club {
  border: 1px solid gray;
  border-radius: 15px;
  height: 10em;
  padding: 10px 15px;
  text-align: left;
}

.club--header {
  font-size: larger;
}
