.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e2e8f0;
  padding-bottom: 10px;
  width: 20vw;
  height: calc(98vh - 4em);
  position: sticky;
  margin-top: 0.5em;
}

.sidebar-link {
  align-items: center;
  display: flex;
  font-weight: 450;
  gap: 1em;
  margin-inline: 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
  border: 1.5px solid transparent;
  margin-bottom: 0.5em;
  transition: border-color 0.25s, background-color 0.25s;
}
.sidebar-link:hover {
  background-color: #f2f2f2;
}

.profile--icon,
.dashboard--icon,
.settings--icon {
  width: 28px;
}

.sidebar--top {
  position: relative;
}

.logo {
  margin-top: 0;
  position: absolute;
  right: 0;
}
