.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e5e5e5;
}

.itam {
  font-size: 1.6em;
  font-weight: 600;
}
