.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  height: 4em;
  padding-inline: 2em;
}

.navbar span {
  cursor: pointer;
}

.itam {
  font-size: 1.6em;
  font-weight: 600;
}

.profile-btn {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.profile-btn:hover {
  background-color: #d4f0d8;
}

.profile--name {
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
}

.nav-links {
  padding: 0.5em 0.5em;
  color: #747474;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-links:hover {
  color: black;
}
