.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  height: 4em;
}

.itam {
  font-size: 1.6em;
  font-weight: 600;
}

.profile {
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.profile:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
