.leaderboard-container {
  margin: 0;
  display: flex;
  height: auto;
  margin: 3rem 10rem;
  border: 1px solid #dfdfdf;
  border-radius: 2rem;
  flex-direction: column;
}

#header {
  justify-self: center;
  font-weight: 500;
  justify-content: space-between;
  text-align: center;
  margin-block: 0 1rem;
}

.name,
.points,
.number {
  font-size: 14px;
}

.leaderboard-header {
  font-size: 1rem;
  font-weight: 500;
}

.leaderboard--student,
.leaderboard-header {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  padding: 0.8em 1em;
}
.leaderboard--student:nth-child(odd) {
  background-color: #dbf2df;
}
