#root {
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  height: 3em;
  transition: background-color 0.3s;
}
